.movie-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.movie-detail__img-placeholder {
    height: 400px;
    flex: 1;
    background-color: var(--third-color);
}

.main-header__inner-wrapper .lds-facebook {
    margin: 0 auto;
}

.movie-detail__img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.movie-detail__info-wrapper {
    margin-left: 60px;
    color: #fff;
    flex: 2;
}

.movie-detail__title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.movie-detail__rating {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    color: var(--rating-color);
    border: 1px solid var(--rating-color);
    border-radius: 50%;
}

.movie-detail__title {
    flex: 1;
}

.movie-detail__genres {
    display: flex;
    font-size: 0.8em;
}

.movie-detail__genre {
    margin-left: 5px;
}

.movie-detail__genre:first-child {
    margin-left: 0;
}

.movie-detail__wrapper {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
}

.movie-detail__duration {
    margin-left: 30px;
}