.not-found__container {
    height: calc(100vh - 59px - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.not-found__title {
    font-size: 8rem;
    color: black;
}

.not-found__desc {
    color: black;
}

.not-found__link {
    display: block;
    margin-top: 20px;
    padding: 10px 16px;
    color: var(--primary-color);
    background-color: white;
    text-decoration: none;
    cursor: pointer;
}