:root {
  --primary: #1D3557;
  --main-bg-color: #F1FAEE;
  --error-color: #E63946;
  --base-fz: 18px;
  --base-lh: 1.3;
  --box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

* {
  box-sizing: border-box;
}

body {
  font-size: var(--base-fz);
  line-height: var(--base-lh);
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  background-color: var(--main-bg-color);
}

.app__wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 40px;
}

@media only screen and (max-width: 641px) {

  .app__wrapper {
    padding: 0 10px;
  }

}

h1 {
  margin: 0;
  text-align: center;
}

p {
  margin: 0;
}

.hoverable:hover {
  background-color: #fff;
  color: var(--primary);
  box-shadow: var(--box-shadow);
}
