.filter {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 60px;
}

.filter__title {
  text-align: center;
}

.filter__input {
  display: block;
  width: 100%;
  padding: 12px 6px;
  font: inherit;
}

.filter__error {
  text-align: center;
}
