:root {
  --text-color: #000000;
  --main-color: #032b2f;
  --sidebar-width: 300px;
  --content-width: 100%;
  --article-img-width: 100%;
  --article-img-height: 250px;
}

@media all and (min-width: 641px) {
  :root {
    --article-img-width: 200px;
  }
}

@media all and (min-width: 769px) {
  :root {
    --sidebar-width: 30%;
    --content-width: 70%;
    --article-img-width: 250px;
  }
}

@media all and (min-width: 1025px) {
  :root {
    --sidebar-width: 20%;
    --content-width: 80%;
  }
}

* {
  box-sizing: border-box;
}

body {
  font: normal 16px/22px Tahoma, sans-serif;
  color: var(--text-color);
}

.root {
  position: relative;
  transition: opacity 0.4s ease-in;
}

.root.is-loading {
  opacity: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: calc(-1 * var(--sidebar-width));
  width: var(--sidebar-width);
  padding: 15px;
  height: 100%;
  transition: left 0.3s ease-in;
  background-color: #fff;
  border-right: 1px solid var(--main-color);
}

.sidebar--opened {
  left: 0;
}

.sidebar__title {
  margin-top: 45px;
  margin-bottom: 20px;
}

@media all and (min-width: 769px) {

  .sidebar {
    left: 0;
  }

  .sidebar__title {
    margin-top: 0;
  }
}

.page-content {
  width: var(--content-width);
  padding: 0 15px;
  padding-top: 15px;
}

@media all and (min-width: 769px) {

  .page-content {
    margin-left: var(--sidebar-width);
  }
}

.filter {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  overflow-y: visible;
  cursor:text;
  list-style: none;
}

.filter:before {
  content: '';
  display: block;
  width: 100%;
  height: 30px;
  position: absolute;
  top: -12px;
  left: 0;
  background-image: linear-gradient(to bottom, #fff 0%, #fff 60%, transparent 90%);
  z-index: 5;
}

.filter:after,
.filter:before {
  content: '';
  display: block;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  background-image: linear-gradient(to bottom, #fff 0%, #fff 60%, transparent 90%);
  z-index: 5;
}

.filter:before {
  top: -12px;
}

.filter:after {
  bottom: 0;
  background-image: linear-gradient(to top, #fff 0%, #fff 60%, transparent 90%);
}

.filter__list {
  display: block;
  position: relative;
  margin: 0;
  height: inherit;
  padding: 10px 0;
  z-index: 1;
  overflow: hidden;
  overflow-y: visible;
}

@media all and (min-width: 641px) {

  .filter {
    height: 90vh;
  }
}

.filter__item {
  display: block;
  margin-bottom: 10px;
}

.filter__item:last-child {
  margin-bottom: 18px;
}

.filter__text {
  margin-left: 5px;
}

.filter__input {
  display: none;
}

.filter__input:checked ~ .filter__checkbox {
  background-image: url('../img/check-mark.svg');
}

.filter__checkbox {
  width: 22px;
  height: 22px;
  border: 1px solid #000;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.filter__text,
.filter__checkbox {
  display: inline-block;
  vertical-align: middle;
}

.news-article {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--main-color);
}

.news-article__img {
  display: block;
  width: var(--article-img-width);
  height: var(--article-img-height);
  object-fit: cover;
  background-color: #bebebe;
}

.news-article__info-line {
  margin-top: 10px;
  margin-bottom: 15px;
}

.news-article__info-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 14px;
}

.news-article__info-item:last-child {
  margin-right: 0;
}

.news-article__info-icon {
  display: inline-block;
  vertical-align: text-bottom;
}

.news-article__title {
  margin: 0;
  margin-top: 10px;
  font-size: 24px;
  line-height: 28px;
}

.news-article__desc {
  margin: 0;
  margin-bottom: 20px;
}

.news-article__link {
  display: inline-block;
  padding: 6px 10px;
  background-color: var(--main-color);
  color: #fff;
  text-decoration: none;
}

@media all and (min-width: 641px) {

  .news-article {
    display: flex;
  }

  .news-article__img {
    margin-right: 10px;
    flex-shrink: 0;
  }

  .news-article__title {
    margin-top: 0;
  }
}

.toggle-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 50px;
  padding: 6px;
  background-color: var(--main-color);
  border: none;
}

@media all and (min-width: 769px) {

  .toggle-btn {
    display: none;
  }
}

.toggle-btn__line {
  display: block;
  margin-bottom: 5px;
  border: 2px solid #fff;
}

.toggle-btn__line:last-child {
  margin-bottom: 0;
}

.spinner {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(239, 239, 239, 0.8);
  z-index: 10;
}

.spinner--show {
  display: block;
}

.spinner__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
