.search-filter {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    z-index: 3;
}

.search-filter__desc {
    color: #fff;
}

.search-filter__inner-wrapper {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.search-filter__filters {
    display: flex;
}

.search-filter__filter-btn {
    display: block;
    margin-left: 10px;
    padding: 5px 15px;
    border: none;
    background-color: var(--secondary-color);
}

.search-filter__filter-btn--active {
    background-color: var(--primary-color);
}

.search-filter__search-btn {
    padding: 5px 30px;
    font-size: 14px;
    border: none;
    background-color: var(--primary-color);
}

.search-filter__desc,
.search-filter__filter-btn,
.search-filter__search-btn {
    color: #fff;
    text-transform: uppercase;
}