.form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 700px;
  transform: translateX(-50%) translateY(-50%);
}

.form__input {
  display: block;
  width: 100%;
  padding: 12px 6px;
  font: inherit;
}

.form__textarea {
  display: block;
  width: 100%;
  min-height: 100px;
  margin: 20px 0;
  padding: 12px 6px;
  font: inherit;
  resize: none;
}

.form__submit {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  background-color: #A784D6;
  color: #fff;
  font: inherit;
  cursor: pointer;
}

.form__error {
  position: absolute;
  bottom: -45px;
  left: 50%;
  margin: 0;
  color: #fff;
  text-align: center;
  transform: translateX(-50%);
}

.form__title {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.form__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 64px;
  line-height: 30px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}


@media only screen and (max-width: 641px) {

  .form {
    padding: 0 10px;
  }

  .form__close-btn {
    right: 10px;
  }

  .form__error {
    width: 100%;
    left: 0;
    transform: none;
  }

}
