.form {
  margin-top: 40px;
  width: 100%;
}

.form__input {
  display: block;
  width: 100%;
  padding: 12px 6px;
  font: inherit;
}

.form__textarea {
  display: block;
  width: 100%;
  min-height: 100px;
  margin: 20px 0;
  padding: 12px 6px;
  font: inherit;
  resize: none;
}

.form__submit {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  background-color: #A784D6;
  color: #fff;
  font: inherit;
}

.form__error {
  text-align: center;
}
