<div class="container">
  <div class="row justify-content-center">
    <input class="form-control col-6 mb-3" type="text" ng-model="query" placeholder="Filter by task name">
    <div class="w-100"></div>
    <select class="custom-select col-6" ng-model="order">
      <option value="-date">Recent</option>
      <option value="date">Older</option>
    </select>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-md-6">
      <h3 class="text-center">{{listTitle}} tasks: {{ tasks.length }}</h3>
      <nav class="nav nav-pills nav-fill mb-2">
          <button ng-class="['btn btn-link nav-item nav-link', { 'active' : taskType === 'all' }]" ng-click="getAllTasks()">All</button>
          <button ng-class="['btn btn-link nav-item nav-link', { 'active' : taskType === 'active'}]" ng-click="getActiveTasks()">Active</button>
          <button ng-class="['btn btn-link nav-item nav-link', { 'active' : taskType === 'done' }]" ng-click="getDoneTasks()">Done</button>
      </nav>
      <p class="text-center" ng-if="tasks.length === 0">You have no {{taskType}} tasks!</p>
      <ul class="list-group">
          <li class="list-group-item text-center mb-2" ng-repeat="task in tasks | filter: query | orderBy: order">
            <label> Done
              <input type="checkbox" ng-model="task.done" ng-change="toggleListItems()"/>
            </label>
            <h4 ng-class="{'task__title--done': task.done}">{{ task.text }}</h4>
            <p>{{ task.date | date: "short" }}</p>
            <button class="btn btn-dark" ng-click="removeTask(task)">Delete</button>
            <button class="btn btn-primary" ng-click="editTask(task.id)">Edit</button>
          </li>
      </ul>
    </div>
  </div>
</div>
