.results__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-top: 40px;
}

.results__items {
    position: relative;
}

.results__no-items {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    font-size: 3em;
    text-align: center;
}