.search-panel {
    position: relative;
    z-index: 3;
}

.search-panel__title {
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
}

.search-panel__input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: var(--secondary-color);
    border: none;
    border-bottom: 3px solid var(--primary-color);
}